.custom-navbar {
  background-color: #d62828;
  font-weight: 500;
}
.custom-navbar .nav-link {
  color: white;
  margin: 0 10px;
  transition: color 0.2s ease;
}
.custom-navbar .nav-link:hover {
  color: #ffcccb;
}
.custom-navbar .navbar-brand {
  font-weight: bold;
  color: white;
}
.custom-navbar .navbar-brand span {
  color: #ff0000;
}
.nav-container {
  border-radius: 6px;
  padding: 0.5rem 1rem;
}
body {
  background-color: #121212;
  color: white;
}
.game-card {
  background-color: #1e1e1e;
  border: none;
  color: white;
}
.game-card .card-title {
  color: #ff4d4d;
}
.layout {
  width: 100%;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
